// reset
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
}
a {
  color: #999;
}

// colors
$colors: (
  "primary": #de9e3f,
  "white": #fff,
  "black": #000,
  "dark": #222,
  "dark-1": #343440,
  "gery": #999,
  "light": #f9f9f9
);
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}
// text algin
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}
// font size
$base-font-size: 1rem;
$font-sizes: (
  xs: 0.7692,
  sm: 0.9231,
  md: 1,
  lg: 1.0769,
  xl: 1.2308
);
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}
// flex
.d-flex {
  display: flex;
}
.flex-colum {
  flex-direction: column;
}
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
@each $key, $val in $flex-jc {
  .jc-#{$key} {
    justify-content: $val;
  }
}
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);
@each $key, $val in $flex-ai {
  .ai-#{$key} {
    align-items: $val;
  }
}
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
// margin padding
$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, b: bottom, r: right, l: left);
$spacing-base-size: 1rem;
$spacing-sizes: (0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3);

@each $typeKey, $type in $spacing-types {
  // m-0
  @each $sizeKey, $size in  $spacing-sizes{     
    .#{$typeKey}-#{$sizeKey}{
      #{$type}: $size * $spacing-base-size;
    }
  }
  // mx =>左右 my => 上下
  @each $sizeKey, $size in  $spacing-sizes{     
    .#{$typeKey}x-#{$sizeKey}{
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }
  @each $sizeKey, $size in  $spacing-sizes{     
    .#{$typeKey}y-#{$sizeKey}{
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  //.mt-1 { margin-top: 0.25rem; }
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in  $spacing-sizes{     
      .#{$typeKey}#{$directionKey}-#{$sizeKey}{
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}